.admin-panel{
    width: fit-content;
    
    position: center;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    width: auto;
    height: fit-content;
}
<<<<<<< HEAD
=======

.Table{
    background-color: blue;
    text: white;
}
>>>>>>> 7db32f14060c794ce06871497a9154e786c09c26
