.admin-panel{
    width: fit-content;
    
    position: center;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    width: auto;
    height: fit-content;
}

.cardbox{
   
    width : 100%;
    margin-top: 5%;
    border-radius: 0.30rem;
}

.adminCard{
    width: 60%;
    margin-top : 2.5%;
    border-radius: 0.30rem;

}

.cardHeader{
    background-color: #2D93AD;
    color: aliceblue;
}