body{
  font-family: 'Open Sans', 'Sans Serif';
  padding: none;
  margin: none;
}
.disappear{
  height: 0;
  width: 0;
  display: none;
}

.appear{
  position: absolute;
  top: 5%;
  left: 5%;
  right: 70%;
  bottom: 80%;
}

.menuIcon{
  background: blue;
  margin: 30px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.menuIcon:hover{
  background: pink;
  box-shadow: 1em;
}