.my-center{
    text-align: center;
}

.pad{
    padding-top: 20px;
    padding-bottom: 0;
    position: absolute;
    top: 15%;
    bottom: 35%;
    left: 20%;
    right: 20%;
    width: auto;
    height: fit-content;
}

.loginbutton{
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-box{
    padding: 30px 30px 30px 30px; 
    border-style: hidden;
    border-radius: 0.7rem;
    /* background: #2D93AD; */
    background : white
    /* color : aliceblue; */
}