.mainwindow-header{
    padding-left: 40px;
    padding-top: 20px;
    /* background: red;     */
}

.dashboard-content{
    padding-left: 40px;
    padding-top: 5px;
}

.list{
    margin: none;
    padding-left: none;
    padding: 1px;
}

.rounded-photo{
    border-radius: 50%
}