.mainwindow-header{
    padding-left: 40px;
    padding-top: 20px;
}

.dashboard-content{
    padding-left: 40px;
    padding-top: 5px;
}

.content-para{
    margin: none;
    padding: none;
}

.rounded-photo{
    border-radius: 50%
}